@import url("tablesorter/tablesorter.css");
@import url("jqueryui/smoothness/jquery-ui-1.9.1.custom.min.css");
/*@import url("jqueryui/delta/jquery-ui.css");*/
@import url("validationEngine/validationEngine.jquery.css");

/* //////////////////////////////////

//	General

////////////////////////////////// */

.tooltip-inner {
	text-align: left;
}

.form h4, h4.bigHeader {
	background-color: #F5F5F5;
	padding: 10px;
	border-top: 1px solid #E5E5E5;
}

textarea.comment_input{
	width : 100%;
}

i.history_icon{
	opacity: 0.4;
	margin-top: 4px;
	display: none;
}

.popover {
	width: 400px;
}
.popover.top {
	margin-top: -15px;
}
.comments {
	overflow: auto;
	height: 200px;
}

ul.relations {
	list-style-type: none;
	margin: 0;
}
ul.relations ul {
	list-style-type: none;
}
.icon-li {
	background: url(../img/icon-li.png) no-repeat 0px 2px;
}

table.tablesorter thead tr .header {
	padding-right: 20px;
}

table.field-history td {
	padding-right: 15px;
	vertical-align: top;
}

.inform-supplier, .inform-logwin {
	cursor: pointer;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

td.center {
	vertical-align: middle;
	text-align: center;
}
td.right {
	text-align: right;
}

a.generate-report, a.generate-clp, a.generate-cda, a.generate-order, a.generate-telex-1, a.generate-telex-2 {
	display: none;
}


/* //////////////////////////////////

//	Main navigation

////////////////////////////////// */

.navbar-inner{
	background-color: white;
	background-image:-moz-linear-gradient(top, #fff, #f6f6f6);
	background-image:-ms-linear-gradient(top, #fff, #f6f6f6);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f6f6f6));
	background-image:-webkit-linear-gradient(top, #fff, #f6f6f6);
	background-image:-o-linear-gradient(top, #fff, #f6f6f6);
	background-image:linear-gradient(top, #fff, #f6f6f6);
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}

.navbar-inner hr {
	margin: 10px 0 0 0;
}

.navbar .nav > li > a {
	float: none;
	padding: 10px 10px 11px;
	line-height: 19px;
	color: #666;
	text-decoration: none;
	text-shadow: none;
}

.navbar .nav > li > a:hover, .dropdown-toggle  {
	color:#000;
}

@media (min-width: 1200px) {
}

.navbar .container {
	width: 1200px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .row {
	width: 1200px;
}

.navbar .brand{
}
.navbar #aldi{
	margin: 10px 0 0 0;
}
.hblhawb-table select {
	width: 60px;
}
table.link-clp tr.row-clickable{
	cursor: pointer;
}
.table-mobile-sort{
	display: none;
}
.pagination{
	position: relative;
}
.pagination .is-current{
	background: #f5f5f5;
}
.pagination-previous, .pagination-next {
	line-height: 38px;
	border: 1px solid #ddd;
	height: 38px;
	position: absolute;
	right: 0;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	padding: 0 7px;
}
.pagination-previous {
	right: 45px;
}
.bar-container div {
	position: relative;
	width: 100%;
	height: 300px;
}

.pie-container div {
	position: relative;
	width: 300px;
	height: 300px;
}
.b-table input {
	width: 90%;
}
/* //////////////////////////////////

//	Chrome Frame prompt

////////////////////////////////// */
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

