/* tables */
table.tablesorter {
	/*font-family:arial;

	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;*/
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	
}
table.tablesorter thead tr .header {
	background-image: url(../../img/bg.gif);
	background-repeat: no-repeat;
	background-position: right 80%;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #ccc;
}
